* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

.pink {
    max-width: 1200px;
    background-color: pink;
    margin: 0 auto;
    padding: 5px;
}

.row {
    display: flex;
    margin: 5px;
}

.block {
    height: 200px;
    margin: 3px;
    border: 1px solid #000;
}
.p-5{
    padding: 5px;
}
.red {
    background-color: red;
    width: 33.3333%;

}


.orange {
    background-color: orange;
    width: 50%;
}

.yellow {
    background-color: yellow;
    width: 25%;
}

.green {
    background-color: green;
    width: 100%;
}

.blue {
    background-color: blue;
}

.blue:nth-child(1) {
    width: 33%;
}

.blue:nth-child(2) {
    width: 66%;
}

@media (max-width:1000px ) {
    .pink{
        max-width: 850px;
    }
    .yellow{
        width: 49%;
        height: 100px;
    }
    .row:nth-child(3){
        flex-wrap: wrap;
        align-content: space-between;
        padding: 0;
    }
}
@media (max-width:600px) {
    .block {
        width: 100%;
        height: 50px;
    }
    .row {
        flex-wrap: wrap;
    }
    .blue:nth-child(1n+1) {
        width: 100%;
    }

}
